header .outter-ring {
  padding: 20px 0;
}

.main-logo {
  max-width: 35%;
}

.header-content {
  float: right;
  padding: 7px 0;
  display: flex;
  gap: 15px;
}

.contact {
  color: #333645;
  text-decoration: none;
  font-size: 25px;
  margin-top: 15px;
}
.contact:hover {
  text-decoration: underline;
}

.support-btn {
  display: none;
  height: 56px;
  width: 150px;
  border-color: #4183d7;
  background-color: #4183d7;
  color: #fff;
  font-size: 15px;
  letter-spacing: 2px;
  border: 0;
}
.support-btn:hover {
  filter: brightness(0.85);
  cursor: pointer;
}
.support-btn a {
  color: #fff;
  text-decoration: none;
  padding-left: 2px;
}

.contact-btn {
  height: 56px;
  width: 150px;
  border-color: #9b9d9e;
  background-color: #9b9d9e;
  color: #fff;
  font-size: 15px;
  letter-spacing: 2px;
  border: 0;
}
.contact-btn a {
  color: #fff;
  text-decoration: none;
  padding-left: 2px;
}

.contact-btn:hover {
  filter: brightness(0.85);
  cursor: pointer;
}

.top-smaller-search-bar {
  display: flex;
  flex-direction: row;
  gap: 0px;
}

.small-search-bar {
  height: 56px;
  background-color: #fff;
  color: #7a7a7a;
  font-size: 15px;
  padding-left: 10px;
  float: left;
  border: 1px solid #999aa2;
}

.main-search-btn {
  height: 56px;
  width: 60px;
  font-size: 24px;
  background-color: #999aa2;
  border: none;
  border-radius: 2px;
  color: #fff;
}
.main-search-btn:hover {
  cursor: pointer;
  background-color: #7F8088;
}

.hamburger-btn {
  height: 56px;
  width: 60px;
  border-radius: 5px;
  font-size: 28px;
  background-color: #333645;
  border-color: #333645;
  color: #fff;
  border: 0;
}
.hamburger-btn:hover {
  cursor: pointer;
}

.lower-search-bar {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  gap: 0px;
}

.search-bar {
  height: 40px;
  margin-bottom: 10px;
  background-color: #e3e3e3;
  color: #7a7a7a;
  font-size: 15px;
  border: none;
  padding-left: 10px;
  float: left;
}

.search-btn {
  line-height: 35px;
  padding: 5px 15px;
  text-transform: uppercase;
  font-size: 15px;
  border-radius: 3px;
  border: none;
  color: #fff;
  float: left;
  border-radius: 0;
  height: 40px;
  font-size: 18px;
  background-color: #e3e3e3;
  color: #333645;
}
.search-btn:hover {
  cursor: pointer;
}

.header-container {
  width: 100%;
}

.news-row {
  display: flex;
  flex-wrap: wrap;
  gap: 2%;
  width: 100%;
  padding-bottom: 20px;
  overflow: hidden;
}

.article {
  position: relative;
  margin-top: 10px;
  width: 100%;
  border: 1px solid gray;
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1);
  transition-duration: 0.5s;
}
.article h3 {
  font-size: 16px;
}

.news-card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

.hidden {
  display: none;
}

.main-article-img {
  width: 100%;
}

.img-banner-text {
  position: absolute;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  z-index: 1;
  font-size: 11px;
  background-color: #333645;
  padding: 5px;
  top: 15px;
  right: 0;
  font-weight: 400;
}
.img-banner-text:hover {
  text-decoration: underline;
}

.news-content {
  padding: 20px;
}

.description {
  font-size: 0.8125rem;
}

.news-read-more-btn {
  line-height: 35px;
  padding: 5px 15px;
  text-transform: uppercase;
  font-size: 15px;
  border-radius: 3px;
  border: none;
  color: #fff;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #00b67b;
  font-weight: 400;
}
.news-read-more-btn:hover {
  cursor: pointer;
}

.article:hover {
  transform: translateY(-10px);
  transition-duration: 0.5s;
  cursor: pointer;
}

.posted-by-section {
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid lightgray;
  padding-top: 30px;
  gap: 4%;
  font-size: 14px;
}

.avatar-img {
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

.posted-strong {
  line-height: 20px;
  color: #333645;
  font-weight: 600;
}

.careers h3 {
  color: #d64541;
}
.careers .news-read-more-btn, .careers .img-banner-text {
  background-color: #d64541;
}

.insights h3 {
  color: #2ecc71;
}
.insights .news-read-more-btn, .insights .img-banner-text {
  background-color: #2ecc71;
}

.view-link-header {
  float: right;
  font-size: 32px;
  color: #333645;
  font-weight: 400;
}
.view-link-header a {
  text-decoration: none;
  color: #333645;
}
.view-link-header:hover {
  text-decoration: underline;
  text-decoration-thickness: 1px;
}

.view-all-section {
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  padding: 20px;
}
.view-all-section .view-link, .view-all-section .arrow {
  text-decoration: none;
  color: #333645;
}
.view-all-section .view-link:hover {
  text-decoration: underline;
  text-decoration-thickness: 1px;
}

.main-nav {
  background-color: #333645;
}
.main-nav span {
  padding-bottom: 10px;
  font-size: 18px;
}
.main-nav small {
  font-size: 0.625rem;
}

.navigation-items {
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  text-transform: uppercase;
  text-align: center;
}
.navigation-items li {
  width: 100%;
}

li a {
  display: block;
  color: #fff;
  padding: 19px 0 10px;
  text-transform: uppercase;
  text-decoration: none;
}

.sub-navigation {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  text-transform: capitalize;
}
.sub-navigation h1 {
  color: #fff;
  margin: 0;
  font-weight: 300;
  text-align: left;
  width: 100%;
  margin-top: 40px;
  margin-bottom: 20px;
}
.sub-navigation .sub-nav-list {
  display: flex;
  flex-wrap: wrap;
  text-align: left;
  font-weight: 400;
  font-size: 18px;
  list-style: none;
}
.sub-navigation .new-sub-nav-item {
  width: 33%;
  margin-bottom: 20px;
}
.sub-navigation .nav-text {
  margin-left: 10px;
}
.sub-navigation .nav-text:hover {
  text-decoration: underline;
}

.software:hover, .first {
  background-color: #67809f;
}
.software:hover .app, .first .app {
  color: #fff;
}
.software:hover .sub-navigation, .first .sub-navigation {
  display: block;
  background-color: #526781;
}

.support:hover, .second {
  background-color: #20caf5;
}
.support:hover .monitor, .second .monitor {
  color: #fff;
}
.support:hover .sub-navigation, .second .sub-navigation {
  display: block;
  background-color: #286abd;
}

.marketing:hover, .third {
  background-color: #2ecc71;
}
.marketing:hover .bars, .third .bars {
  color: #fff;
}
.marketing:hover .sub-navigation, .third .sub-navigation {
  display: block;
  background-color: #25a25a;
}

.telecoms:hover, .fourth {
  background-color: #d64541;
}
.telecoms:hover .phone, .fourth .phone {
  color: #fff;
}
.telecoms:hover .sub-navigation, .fourth .sub-navigation {
  display: block;
  background-color: #bc2c28;
}

.web-design:hover, .five {
  background-color: #926fb1;
}
.web-design:hover .code, .five .code {
  color: #fff;
}
.web-design:hover .sub-navigation, .five .sub-navigation {
  display: block;
  background-color: #79539a;
}

.cyber-security:hover, .six {
  background-color: #f62459;
}
.cyber-security:hover .shield, .six .shield {
  color: #fff;
}
.cyber-security:hover .sub-navigation, .six .sub-navigation {
  display: block;
  background-color: #de093f;
}

.developer-course:hover, .seventh {
  background-color: orange;
}
.developer-course:hover .hat, .seventh .hat {
  color: #fff;
}
.developer-course:hover .sub-navigation, .seventh .sub-navigation {
  display: block;
  background-color: #a3331d;
}

.app {
  color: #67809f;
}

.monitor {
  color: #4183d7;
}

.bars {
  color: #2ecc71;
}

.phone {
  color: #d64541;
}

.code {
  color: #926fb1;
}

.shield {
  color: #f62459;
}

.hat {
  color: #ce4125;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
  .contact {
    display: none !important;
  }
  .lower-search-bar {
    display: none !important;
  }
  .smaller-cards {
    flex-wrap: wrap;
    flex-direction: row !important;
    justify-content: space-between;
  }
  .small {
    width: 48% !important;
  }
  #s-br {
    display: none;
  }
  .news-row {
    flex-wrap: nowrap !important;
  }
  .view-all-section {
    display: none;
  }
}
@media (max-width: 767px) {
  .main-search-btn {
    display: none !important;
  }
  .small-search-bar {
    display: none !important;
  }
  .view-link-header {
    display: none !important;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
  .small-search-bar {
    display: none !important;
  }
  .first-three-cards {
    flex-direction: row !important;
    flex-wrap: nowrap !important;
  }
}
@media (max-width: 991px) {
  .contact-btn {
    display: none !important;
  }
  .support-btn {
    display: none !important;
  }
  #banner {
    text-align: center;
  }
  .main-nav {
    display: none;
  }
  .first-three-cards {
    flex-direction: column;
    width: 100%;
  }
  .card {
    width: 100%;
  }
}
@media (min-width: 1260px) {
  .container {
    width: 1200px;
  }
  .small-search-bar {
    display: inline !important;
  }
  .wide-cards {
    width: 33.33%;
  }
  .smaller-cards {
    display: flex;
  }
  .footer-content-row {
    display: flex;
  }
  .first-two-services {
    width: 70%;
  }
  .smaller-cards {
    flex-wrap: nowrap !important;
  }
  .hidden {
    display: inline;
  }
}
@media (max-width: 1259px) {
  .first-two-services {
    justify-content: space-evenly;
    width: 100%;
  }
}
#banner {
  background-size: cover;
  background-image: url(../img/metting.jpg);
  overflow: hidden;
  height: 55vh;
  width: 100%;
  margin-top: -16px;
}
#banner .h1 {
  color: #fff;
  font-size: 2.5rem;
  line-height: 3rem;
  margin: 0 0 1.25rem;
  font-weight: 600;
  margin-top: 100px;
}
#banner .p1 {
  color: #fff;
  font-size: 1.3rem;
  line-height: 1.75rem;
  font-weight: 600;
}

.sponsers .inner-sponser {
  padding-top: 40px;
  padding-bottom: 40px;
}

.owl-carousel, .owl-stage {
  display: flex;
}

.owl-item {
  height: 60px;
  -o-object-fit: contain;
     object-fit: contain;
}

.greyscale {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}

.greyscale:hover {
  filter: grayscale(0);
  -webkit-filter: grayscale(0);
}

.first-section {
  padding-top: 30px;
  padding-bottom: 30px;
}

.service-list {
  margin-top: 20px;
}

#service {
  font-size: 2.7rem;
  color: #333645;
  font-weight: 600;
}

.all-cards {
  font-weight: 300;
}
.all-cards h2 {
  font-weight: 300;
  font-size: 1.3rem;
  padding-bottom: 10px;
  margin: 0 0 11px;
  color: black;
}

.first-three-cards {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
}

.smaller-cards {
  display: flex;
  gap: 20px;
  flex-direction: column;
  margin-top: 15px;
}

.card {
  border: 1px solid #ccc;
  font-family: sans-serif;
  text-align: center;
  border: 1px solid #ccc;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
  width: 100%;
}
.card h2 {
  color: #333645;
}

.card a {
  text-decoration: none;
  color: grey;
}

.wide-cards {
  border: 1px solid #ccc;
  font-family: sans-serif;
  text-align: center;
  border: 1px solid #ccc;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
  width: 100%;
}
.wide-cards a {
  text-decoration: none;
  color: grey;
}

.wide-cards:hover {
  cursor: pointer;
}

.smaller-cards:hover {
  cursor: pointer;
}

.first-card:hover {
  background-color: #67809f;
  color: #fff;
  margin-bottom: 5px;
  transform: translateY(-10px);
  transition-duration: 0.5s;
}
.first-card:hover .card-content {
  color: #fff;
}
.first-card:hover span, .first-card:hover .btn {
  background-color: white;
  color: #67809f;
}
.first-card:hover h2 {
  color: white;
}

.second-card:hover {
  background-color: #4183d7;
  color: #fff;
  transform: translateY(-10px);
  transition-duration: 0.5s;
}
.second-card:hover .card-content {
  color: #fff;
}
.second-card:hover span, .second-card:hover .btn {
  background-color: #fff;
  color: #4183d7;
}
.second-card:hover h2 {
  color: #fff;
}

.third-card:hover {
  background-color: #2ecc71;
  color: #fff;
  transform: translateY(-10px);
  transition-duration: 0.5s;
}
.third-card:hover .card-content {
  color: #fff;
}
.third-card:hover span, .third-card:hover .btn {
  background-color: #fff;
  color: #2ecc71;
}
.third-card:hover h2 {
  color: #fff;
}

.fourth-card:hover {
  background-color: #d64541;
  color: #fff;
  transform: translateY(-10px);
  transition-duration: 0.5s;
}
.fourth-card:hover .card-content {
  color: #fff;
}
.fourth-card:hover span, .fourth-card:hover .btn {
  background-color: #fff;
  color: #d64541;
}
.fourth-card:hover h2 {
  color: #fff;
}

.fifth-card:hover {
  background-color: #926fb1;
  color: #fff;
  transform: translateY(-10px);
  transition-duration: 0.5s;
}
.fifth-card:hover .card-content {
  color: #fff;
}
.fifth-card:hover span, .fifth-card:hover .btn {
  background-color: #fff;
  color: #926fb1;
}
.fifth-card:hover h2 {
  color: #fff;
}

.sixth-card:hover {
  background-color: #f62459;
  color: #fff;
  transform: translateY(-10px);
  transition-duration: 0.5s;
}
.sixth-card:hover .card-content {
  color: #fff;
}
.sixth-card:hover span, .sixth-card:hover .btn {
  background-color: #fff;
  color: #f62459;
}
.sixth-card:hover h2 {
  color: #fff;
}

.seventh-card:hover {
  background-color: #ce4125;
  color: #fff;
  transform: translateY(-10px);
  transition-duration: 0.5s;
}
.seventh-card:hover .card-content {
  color: #fff;
}
.seventh-card:hover span, .seventh-card:hover .btn {
  background-color: #fff;
  color: #ce4125;
}
.seventh-card:hover h2 {
  color: #fff;
}

.card span {
  height: 65px;
  width: 65px;
  border-radius: 50%;
  margin: 0 auto 17px;
  color: #fff;
  text-align: center;
  font-size: 2rem;
  line-height: 62px;
}

.card-app {
  background-color: #67809f;
}

.card-monitor {
  background-color: #4183d7;
}

.card-bars {
  background-color: #2ecc71;
}

.card-phone {
  background-color: #d64541;
}

.card-code {
  background-color: #926fb1;
}

.card-shield {
  background-color: #f62459;
}

.card-hat {
  background-color: #ce4125;
}

.btn {
  line-height: 35px;
  padding: 5px 15px;
  text-transform: uppercase;
  font-size: 15px;
  border-radius: 3px;
  border: none;
  color: #fff;
}

.app-read-more {
  background-color: #67809f;
}
.app-read-more:hover {
  cursor: pointer;
}

.monitor-read-more {
  background-color: #4183d7;
}
.monitor-read-more:hover {
  cursor: pointer;
}

.bars-read-more {
  background-color: #2ecc71;
}
.bars-read-more:hover {
  cursor: pointer;
}

.phone-read-more {
  background-color: #d64541;
}
.phone-read-more:hover {
  cursor: pointer;
}

.code-read-more {
  background-color: #926fb1;
}
.code-read-more:hover {
  cursor: pointer;
}

.shield-read-more {
  background-color: #f62459;
}
.shield-read-more:hover {
  cursor: pointer;
}

.hat-read-more {
  background-color: #ce4125;
}
.hat-read-more:hover {
  cursor: pointer;
}

footer {
  background-color: #333645;
  color: #fff;
  padding: 30px;
}
footer .first-two-services {
  display: flex;
  flex-wrap: wrap;
}
footer h4 {
  text-transform: uppercase;
  font-weight: normal;
  font-size: 1rem;
}
footer ul {
  list-style-type: none;
  padding: 0;
}
footer li {
  font-size: 0.75rem;
  left: auto;
  line-height: 2;
}
footer a {
  display: inline;
}
footer .offices {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.footer-services, .footer-office {
  width: 225px;
}

.line {
  border: 0.5px solid #fff;
  margin-bottom: 10px;
}

.bottom {
  color: #fff;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
}
.bottom .licence {
  display: flex;
  font-size: 13px;
}
.bottom .licence span {
  margin-left: 13px;
  margin-right: 13px;
}
.bottom a {
  color: #fff;
  text-decoration: none;
}
.bottom a:hover {
  cursor: pointer;
  text-decoration: underline;
}
.bottom ul {
  list-style-type: none;
  margin-top: 0;
}

.social {
  display: flex;
}
.social .footer-icon {
  padding: 10px;
  color: #fff;
  max-height: 38px;
}
.social .fa-facebook-f:hover {
  background-color: #3b5998;
  border-radius: 50%;
}
.social .fa-twitter:hover {
  background-color: #00acee;
  border-radius: 50%;
}
.social .fa-instagram:hover {
  background-color: #962fbf;
  border-radius: 50%;
}
.social .fa-linkedin:hover {
  background-color: #0A66C2;
  border-radius: 50%;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

body {
  font-family: Poppins, sans-serif;
  font-size: 1rem;
  letter-spacing: 0.4px;
  color: #666;
  letter-spacing: normal;
  margin: 0 !important;
  padding: 0 !important;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.header-text {
  float: left;
  font-size: 36px;
  color: #333645;
  font-weight: 400;
}/*# sourceMappingURL=style.css.map */