@import "../scss/partials/content/header.scss",
        "../scss/partials/content/news.scss",
        "../scss/partials/content/second-sponser.scss",
        "../scss/partials/content/sidebar.scss",
        "../scss/partials/content/newsletter.scss",
        "../scss/partials/content/navigation.scss",
        "../scss/partials/content/about.scss",
        "../scss/partials/utilities/media.scss",
        "../scss/partials/content/banner.scss",
        "../scss/partials/content/sponsers.scss",
        "../scss/partials/content/first-section.scss",
        "../scss/partials/content/footer.scss", 
        "../scss/partials/utilities/vairable.scss",
        "../scss/partials/utilities/mixins.scss",
        "../scss/partials/content/cookie-popup.scss",
        "../scss/partials/content/sticky-header.scss",
        "../scss/partials/content/contact.scss";

* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
    width: 100%;
    height: 100%;
    overflow-x: hidden; 
}

body {
    font-family: Poppins,sans-serif;
    font-size: 1rem;
    letter-spacing: .4px;
    color: #666;
    letter-spacing: normal;
    margin: 0 !important;
    padding: 0 !important;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.header-text {
    float: left;
    font-size: 36px;
    color: #333645;
    font-weight: 400;
}

#main {
    transition: margin-right .5s;
}
