@import "../utilities/mixins.scss",
        "../utilities/vairable.scss";


#banner {
    position: relative;
    .h1 {
        color: $white;
        font-size: 2.5rem;
        line-height: 3rem;
        margin: 0 0 1.25rem;
        font-weight: 600;
        margin-top: 100px;
    }
    .p1 {
        color: $white;
        font-size: 1.3rem;  
        line-height: 1.75rem;
        font-weight: 600;
    }
}

// .banner-image {
//     width: 100%;
//     height: 55vh;
//     object-fit: cover;
// }

.owl-one {
    height: 55vh;
    width: 100%;
    margin-right: 0;
    background: linear-gradient(270deg,transparent 25%,#000);
    img {
        filter: brightness(80%);
    }
    .item {
        height: 55vh;
        width: 100%;
        object-fit: cover;
    }
    .owl-dots {
        height: 40px;
        width: 40px;
    }
    .owl-nav {
        display: block;
    }
    .text {
        position: absolute;
        top: 50px;
        color: white;
        width: 100%;
    }
    h1 {
        font-size: 64px;
        line-height: 80px;
        margin-bottom: 0;
    }
    p {
        font-size: 26px;
        line-height: 40px;
        top: 40px
    }
    .find-out-more {
        height: 60px;
        font-size: 20px;
        &:hover {
            cursor: pointer;
            filter: brightness(85%);
        }
    }
    .smaller-text {
        position: absolute;
        top: 90px;
        color: white;
        width: 100%;
    }
    .purple {
        background-color: #926fb1;
        border-color: #926fb1;
    }
    .gray {
        background-color: #67809f;
        border-color: #67809f;
    }
    .blue {
        background-color: #4183d7;
        border-color: #4183d7;
    }
    .green {
        background-color: #2ecc71;
        border-color: #2ecc71;
    }
    .red {
        background-color: #d64541;
        border-color: #d64541;
    }
    .cherry {
        background-color: #f62459;
        border-color: #f62459;
    }
    i {
        padding-left: 10px;
    }
}