footer {
    background-color: #333645;
    color: $white;
    padding: 30px;
    .first-two-services {
        display: flex;
        flex-wrap: wrap;
    }
    h4 {
        text-transform: uppercase;
        font-weight: normal;
        font-size: 1rem;
    }
    ul {
        list-style-type: none;
        padding: 0;
    }
    li {
        font-size: 0.75rem;
        left: auto;
        line-height: 2;
    }
    a {
        display:inline;
    }
    .offices {
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
}

.footer-services, .footer-office {
    width: 225px;
}


// BOTTOM OF THE FOOTER

.line {
    border: 0.5px solid $white;
    margin-bottom: 10px;
}

.bottom {
    color: $white;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    .licence {
        display: flex;
        font-size: 13px;
        span {
            margin-left: 13px;
            margin-right: 13px;
        }
    }
    a {
        color: $white;
        text-decoration: none;
    }
    a:hover {
        cursor: pointer;
        text-decoration: underline;
    }
    ul {
        list-style-type: none;
        margin-top: 0;
    }
}

.social {
    display: flex;
    .footer-icon {
        padding: 10px;
        color: $white;
        max-height: 38px;
    }
    .fa-facebook-f:hover {
        background-color: #3b5998;
        border-radius: 50%;
    }
    .fa-twitter:hover {
        background-color: #00acee;
        border-radius: 50%;
    }
    .fa-instagram:hover {
        background-color: #962fbf;
        border-radius: 50%;
    }
    .fa-linkedin:hover {
        background-color: #0A66C2;
        border-radius: 50%;
    }
}