@import "../utilities/mixins.scss",
        "../utilities/vairable.scss";

.main-nav {
    background-color: #333645;
    span {
        padding-bottom: 10px;
        font-size: 18px;
    }
    small {
        font-size: .625rem;
    }
}

.navigation-items {
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    text-transform: uppercase;
    text-align: center;
    li {
        width: 100%;
    }
}

li a {
    display: block;
    color: $white;
    padding: 19px 0 10px;
    text-transform: uppercase;
    text-decoration: none;
}

.sub-navigation {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    text-transform: capitalize;
    h1 {
        color: $white;
        margin:0;
        font-weight: 300;
        text-align: left;
        width: 100%;
        margin-top: 15px;
        margin-bottom: 20px;
    }
    .sub-nav-list {
        display: flex;
        flex-wrap: wrap;
        text-align: left;
        font-weight: 400;
        font-size: 18px;
        list-style: none;
    }
    .new-sub-nav-item {
        width: 33%;
        margin-bottom: 20px;
    }
    .nav-text {
        margin-left: 10px;
    }
}

.software:hover, .first {
    background-color: #67809f;
    .app {
        color: $white;
    }
    .sub-navigation  {
        display: block;
        background-color: #526781;
    }
}

.support:hover, .second {
    background-color: #20caf5;
    .monitor {
        color: $white;
    }
    .sub-navigation  {
        display: block;
        background-color: #286abd;
    }

}

.marketing:hover, .third {
    background-color: #2ecc71;
    .bars {
        color: $white;
    }
    .sub-navigation {
        display: block;
        background-color: #25a25a;
    }
}

.telecoms:hover, .fourth {
    background-color: #d64541;
    .phone {
        color: $white;
    }
    .sub-navigation {
        display: block;
        background-color: #bc2c28;
    }
}

.web-design:hover, .five {
    background-color: #926fb1;
    .code {
        color: $white;
    }
    .sub-navigation {
        display: block;
        background-color: #79539a;
    }
}

.cyber-security:hover, .six {
    background-color: #f62459;
    .shield {
        color: $white;
    }
    .sub-navigation {
        display: block;
        background-color: #de093f;
    }
}

.developer-course:hover, .seventh {
    background-color: orange;
    .hat {
        color: $white;
    }
    .sub-navigation {
        display: block;
        background-color: #a3331d;
    }
}

// FONT AWESOME logos colour.
.app {
    color: #67809f;
}

.monitor {
    color: #4183d7;
}

.bars {
    color: #2ecc71;
}

.phone {
    color: #d64541;
}

.code {
    color: #926fb1;
}

.shield {
    color: #f62459;
}

.hat {
    color: #ce4125;
}