@import "../utilities/mixins.scss",
        "../utilities/vairable.scss";

.second-sponser {
    display: none;
    padding-top: 50px;
    padding-bottom: 50px;
    .sponser-image-container {
        display: flex;
        justify-content: space-between;
    }
    .inner-image {
        padding: 0 20px;
    }
    img {
        max-width: 100%;
        height: auto;
    }
    .greyscale:hover {
        cursor: pointer;
    }
}

.description-container {
    padding: 20px;
    background-color: #333645;
    max-width: 260px;
    color: white;
}

.sponser-description {
    display: none;
    position: absolute;
    max-width: 260px;
}

// .busseys-sponser-description {
//     @include sponser-description;
// }

// .crane-sponser-description {
//     @include sponser-description;
// }

// .beat-sponser-description {
//     @include sponser-description;
// }

// .driver-sponser-description {
//     @include sponser-description;
// }

// .busseys:hover {
//     .busseys-sponser-description {
//         display: inline;
//     }
// }