@import "../utilities/mixins.scss",
        "../utilities/vairable.scss";

.sidebar {
    overflow: hidden;
    transition: 0.5s;
    height: 100%;
    position: fixed;
    z-index: 200;
    right: 0;
    background-color: #333645;
    width: 0;
    top: 0;
    color: $white;
    overflow-y: scroll;
    bottom: 0;
    .sidebar-container {
        padding: 20px;
    }
    li {
        border-top: 1px solid rgba(0,0,0,.45);
        background-color: rgba(0,0,0,.25);
        list-style: none;
        text-decoration: none;
        color: $white;
        text-transform: uppercase;
        font-size: 16px;
        line-height: 25px;
        a {
            border-top: 1px solid hsla(0,0%,100%,.05);
            text-decoration: none;
            color: $white;
            padding: 10px;
            display: block;
        }
    }
    .small-screen {
        text-align: center;
    }
    ul {
        padding-left: 0;
        margin-bottom: 0;
    }
    .right-arrows {
        font-size: 8px;
        margin-right: 20px;
    }
    #top-sidebar {
        border: 1px solid black;
        font-size: 18px;;
        outline: 1px solid rgba(0,0,0,.25);
        border: 1px solid hsla(0,0%,100%,.1);
        background-color: #333645;
        padding: 19px 0 18px;
        a {
            padding: 0;
            border: 0;
        }
    }
    .bigger-nav-button {
        margin-bottom: 20px;
        margin-top: 20px;
        text-align: center;
        border-radius: 3px;
        outline: 1px solid rgba(0,0,0,.25);
        border: 1px solid hsla(0,0%,100%,.1);
        font-size: 18px;
        background-color: #333645;
        padding: 19px 0 18px;
        a {
            border: none;
            padding: 0;
        }
        small {
            font-size: 10px;
        }
    }
    .big-screen {
        margin-top: 0;
        margin-bottom: 0;
        .service-header {
            top: 0;
        }
        .header-big-screen {
            background-color: #333645;
            font-size: 16px;
        }
        li {
            width: 100%;
            margin-left: 0;
            font-size: 14px;
            a {
                padding: 15px 20px;
            }
        }
    }
    .small-screen-content {
        ul {
            border-top: 1px solid hsla(0,0%,100%,.1);
            border-bottom: 1px solid rgba(0,0,0,.25);
        }
        li {
            width: 100%;
            margin-left: 0;
            font-size: 14px;
            a {
                padding: 15px 20px;
            }
        }
        .header-small-screen {
            background-color: #333645;
        }
        .top-header {
            border-top: 1px solid rgba(0,0,0,.25);
        }
        .last-header {
            border-bottom: 1px solid rgba(0,0,0,.25);
        }
    }
    .small-screen-content .big-screen .right-arrows {
        margin-right: 10px;
        margin-left: 0;
    }
  }