@mixin service-cards {
    border: 1px solid #ccc;
    font-family: sans-serif;
    text-align: center;
    border: 1px solid #ccc;
    padding: 30px;  
    border-radius: 15px;
    box-shadow: 0 3px 35px rgb(0 0 0 / 10%);
}

@mixin hover-effect-service-card {
    background-color: #67809f;
    color: $white;
    margin-bottom: 5px;
    transform: translateY(-10px);
    transition-duration: 0.5s;
}

@mixin btn {
    line-height: 35px;
    padding: 5px 15px;
    text-transform: uppercase;
    font-size: 15px;
    border-radius: 3px;
    border: none;
    color: #fff;
}
